
/* VARIABLES */ 

:root {
    --primary-color: #03009b;
    --secondary-color: #B22234;
    --overlay-color: rgba(255, 255, 255, 0.7);
    --font-color: #000;
    --bg-color: #fff;
    --switch-bg-color: rgba(0, 0, 0, 0.15);
    --loader-bg-color: #ffffff;
    --font-color: #000;
    --light-bg-color: #e0e0e0;
    --moon: block;
    --sun: none;
    --logo: url('lib/logo-blc.png');
    --invert: invert(0%);
    --loadlogo: url('lib/load_logo_blc.png');
}

[data-theme="dark"] {
    --primary-color: #03009b;
    --secondary-color: #B22234;
    --overlay-color: rgba(0,0,0,0.7);
    --font-color: #ffffff;
    --bg-color: #0a0a0a;
    --switch-bg-color: rgba(255, 255, 255, 0.15);
    --loader-bg-color: #151515;
    --font-color: #fff;
    --light-bg-color: #242424;
    --moon: none;
    --sun: block;
    --logo: url('lib/logo-wht.png');
    --invert: invert(100%);
    --loadlogo: url('lib/load_logo_wht.png');
}

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

img {
    width: 80%;
}

html {
    margin: 0;
    scroll-behavior: smooth !important;
}

::-moz-selection {
    color: var(--font-color);
    background-color: transparent;
}

::-webkit-selection {
    color: var(--font-color);
    background-color: transparent;
}

::selection {
    color: var(--font-color);
    background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

hr {
    width: 85%;
    border-color: var(--lighter-bg-color);
    transition: 0.4s !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

@media screen and (max-width: 500px) {

    .align-center,
    .align-left,
    .align-right {
        text-align: center !important;
    }

    .contents {
        padding: 20px !important;
    }
}

a {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 1;
}


/* LOADER */

.load {
    height: 100%;
    width: 100%;
    background-color: var(--loader-bg-color);
    padding-top: 17%;
    z-index: 999999;
    position: fixed;
    transition: 1s ease-out;
    text-align: center;
}

.loader-wheel {
    display: block;
    position: relative;
    background-image: var(--loadlogo);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    animation: scale 1.5s linear infinite;
}

.loader-wheel:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--secondary-color);
    ;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation: spin 1.5s linear infinite;
}

.loader-wheel::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
/* DARK MODE SWITCH */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
}

.theme-switch-wrapper a {
    margin: 10px 15px;
}

.theme-switch {
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}

.theme-switch input {
    display: none;
}

.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30;
    text-align: center;
    padding-top: 10px;
    background-color: var(--switch-bg-color);
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
}

.slider:hover {
    opacity: 1;
}

.sun {
    display: var(--sun);
}

.moon {
    display: var(--moon);
}

.slider img {
    height: 30px;
    width: 30px;
}

.slider.round {
    border-radius: 50%;
}

/* HOME */

#home {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    align-content: center;
    justify-content: center;
}

#home::before {
    background-image: url('lib/eh.jpg');
    transition: 0.4s;
    position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.heading {
    visibility: visible;
    z-index: 1;
}

.heading h1 {
    transition: 0.4s;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* NAVBAR */

#fp-nav ul li a span {
    background-color: var(--secondary-color) !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

#fp-nav ul li a.active span {
    background-color: var(--primary-color) !important;
}

#fp-nav ul li .fp-tooltip {
    color: var(--font-color) !important;
}

/* SECTIONS */

.section {
    transition: 0.4s;
    color: var(--font-color);
}

.section .row {
    padding: 50px 0px;
}

.section-title {
    font-family: 'Poiret One', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 50px;
    padding: 10 10 10 0;
}

.section-quote {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: 20 10 10 10;
    border-left: 2px solid var(--light-bg-color);
    padding-left: 10px;
}

.section-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    padding: 20 10 10 10;
}

.logo {
    width: 60%;
    background-image: var(--logo);
    background-size: contain;
    transition: 0.4s;
    background-repeat: no-repeat;
}

/* HEADS */

.head-img {
    border-radius: 50%;
    height: 30vh;
    width: 30vh;
    margin: 10px;
}

.head-text p {
    font-size: 15px;
}

.head-text h4 {
    font-size: 25px;
}

.head-text h5 {
    font-size: 20px;
}

.head-text h6 {
    font-size: 15px;
}

.heads-hr {
    width: 60%;
    border-color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes scale {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }
}

@-moz-keyframes scale {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }
}

@-o-keyframes scale {

    0%,
    100% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }
}
